<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>CF</ServerName><LauncherName>CFSummit2017</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion2016</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>